<!DOCTYPE html>
<html>
<head>
  <title>Welcome Page</title>
</head>
<body>
<h1>Welcome</h1>
<a href="/product/new">Add a Product</a>

<h3>Products</h3>

<% PRODUCTS.each do |item| %>
  <%= item %>
<% end %>


</body>
</html>