<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form action="/" method="post">
  <input type="text" name="new_product" placeholder="New Poduct">
  <input type="submit" value="Create Product">
</form>
</body>
</html>